/* CSS reset        */ 

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* CSS header */

.head_container {
    background-color: grey;
    border-bottom: 1px solid black;

    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 5   px 5px black;
}

.head_title h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    letter-spacing: 2px;
    /* font-weight: 700; */
    font-family: 'Outrage';
}